@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    
    --dark-grayish: hsl(270, 7%, 64%);
    --light-magenta: hsl(293, 100%, 63%);
    --light-grayish: hsl(270, 20%, 96%);
    --very-dark: hsl(274, 17%, 8%);
    --very-light-magenta: hsl(289, 100%, 72%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

img {
    display: block;
}
